*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    background-image: url(img/s1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 600px;
    height: 450px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.len{
    width: 50px;
    height: 30px;
    position: relative;
    left: 250px;
    top: -6px;

}

.displayPass{
    width: 550px;
    height: 80px;
    margin-top: 20px;
    margin-left: 22px;
    border-radius: 10px;
    font-size: 30px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label{
    color: rgb(244, 250, 255);
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.div1{
    padding-top: 10px;
}

.contain1{
    padding-top: 30px;
    padding-left: 20px;
}

button{
    height: 60px;
    width: 550px;
    margin-left: 20px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    background-color: rgb(4, 4, 98);
}

.check{
    position: relative;
    left: 250px;
    top: -6px;
}

.check1{
    position: relative;
    left: 282px;
    top: -6px;
}

.check2{
    position: relative;
    left: 288px;
    top: -6px;
}

@media (max-width:667px){

    body{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10%;
        /* background-color: chocolate; */
        /* background-image: url(img/s1.jpg); */
        /* background-repeat: no-repeat; */
        /* background-size: cover; */
    }

    .container{
        width: 89vw;
        height: 94vh;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        /* border: 2px solid red; */
    }

    .displayPass{
        width: 298px;
        height: 80px;
        margin-top: 20px;
        margin-left: 22px;
        border-radius: 10px;
        font-size: 30px;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .len{
        width: 50px;
        height: 30px;
        position: relative;
        left: 90px;
        top: -6px;
    
    }

    .check{
        position: relative;
        left: 79px;
        top: -6px;
        margin-top: 10px;
    }

    .check1{
        position: relative;
        left: 106px;
        top: -6px;
        margin-top: 10px;
    }

    .check2{
        position: relative;
        left: 112px;
        top: -6px;
        margin-top: 10px;
    }

    button{
        height: 50px;
        width: 293px;
        margin-left: 20px;
        margin-top: 63px;
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 10px;
        background-color: rgb(4, 4, 98);
    }

    label{
    color: rgb(244, 250, 255);
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    
}