:root{
--primary-color:#4a4a4a;
--primary-color-alt:#575757;
--linear-gradient:var:linear-gradient(
    54deg,rgba(45,45,45,0.95)34%,rgba(45,45,45,0.95)34%
);
--title-color:#4a4a4a;
--text-color:#555;
--text-color-alt:#999;
--bg-color:#fff;
--bg-color-alt:#e9ecef;
--border-color:#f1f1f1;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* ================================HEADER================================= */

header{
    position:fixed;
    z-index: 10;
}

header ul{
    display: flex;
    align-items:end;
    justify-content:flex-start;
    list-style: none;
    background-color: var(--primary-color) ;
    height: 8.5vh;
    width: 100vw;
    gap: 3.5vw;
    padding-left: 15vw;
    /* box-shadow: 1px 1px 4px  rgb(43, 41, 41); */
}

.head:not(:first-child){
    color: #fff;
    opacity: 0.7;
    font-size: 1.5vw;
    cursor: pointer;
}

.head:hover{
    opacity: 1;
    font-size: 1.4vw;
    transition: all 1s ;
}

.head::after{
    content:"_";
    color: #fff;
    opacity: 0.8;
    font-size: 1.5vw;
    cursor: pointer;

}

.med{
    color: #fff;
    opacity: 0.8;
    font-size: 1.5vw;
    cursor: pointer;
    display: none;
}



/* ===============================HOME================================= */

.home__container{
    background-color:var(--primary-color);
    width: 100%;
    aspect-ratio: 4/1;
    display: flex;
    align-items: center;
    justify-content:start;
    column-gap: 4vw;
}
.typewriter {
    font-family: 'Courier New', monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #000;
    animation: typing 4s steps(50) 0s;
    color: #fff;
    font-size: 3vw;
    font-weight:550;
  }
  
  @keyframes typing {
    0% {
      width: 0;
     
    }
    100% {
      width: 100%;
    }
  }

  .typewriter1 {
    font-family: 'Courier New', monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #000;
    animation: typing 4s steps(50) 0s;
    color: #fff;
    font-size: 2vw;
    font-weight:400;
  }
  
  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

img{
    height: 45vh;
    aspect-ratio: 1/1.2;
    filter: grayscale(60%);
    margin-left: 15vw;
    margin-top: 7vh;
    transform: translateY(5vh);
    box-shadow: 1px 8px 10px rgb(81, 73, 73);
}

.info{
    margin-top: 7vh;
}

.name{
color: #fff;
font-size: 3vw;
font-weight:550;
}

.occupation{
color: #fff;
font-size: 2vw;
font-weight:400;
}

table{
margin-top: 4.5vh;
row-gap: 
}

.atr{
    color: #fff;
    opacity: 0.6;

}

td{
    color: #fff;
}

tr{
    height: 25px;
}

i{
    margin-top: 1.5vh;
    margin-left: 1vw;
    font-size: 1.5vw;
}

a{
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
}

a:hover{
    opacity: 1;
    transition: all 1s ;
}

/* =============================HI SECTION============================ */
 .hi_section{
    margin-top: 12vh;
    margin-left: 15vw;
 }

 .intro{
    margin-top: 4vh;
    line-height: 3.5vh;
    font-size: 1.2vw;
 }

 .download_btn{
    margin-top: 6vh;
    background-color: rgb(51, 48, 48);
    border: none;
    /* outline: none; */
    width: 10vw;
    height: 6vh;
    border-radius: 30px;
    display: flex;
    box-shadow: 2px 2px 10px black;
    color: rgb(202, 192, 192);
 }

 .download_btn:hover{
    border: 2px dashed black;
    /* transition: all 0.5s; */
    color: #fff;
 }

 .dwnld{
    font-size: 1vw;
    margin-top: 1.8vh;
    margin-left: 4px;
 }

 .a_dwnld{
   text-decoration: none;
 }

 /* ==================================Resume Section============================== */

.resume{
    margin-top: 15vh;
    margin-left: 15vw;
}

.education{
    font-size: 1.5vw;
    letter-spacing: 1.5vw;
    color: #999;
    margin-top: 5vh;
    margin-left: 15vw;
}

.resume_sec{
    border-left: 3px solid #000;
    margin-top: 5vh;
    margin-left: 15vw;
}

.school{
    font-size: 1.5vw;
    margin-left: 1vw;
    color:var(--primary-color);
}

.session{
    margin-top: 1vh;
    margin-left: 1vw;
    color:var(--primary-color);
}

.deg{
    margin-top: 1.5vh;
    margin-left: 1vw;
    color:var(--primary-color);
}

.colleg{
    margin-left: 1vw;
    margin-top: 1vh;
    color:var(--primary-color);
}

.col_session{
    margin-left: 1vw;
    margin-top: 1vh;
    color:var(--primary-color);
}

.sc_title{
    margin-left: 1vw;
    margin-top: 3vh;
}

.col_title{
    margin-left: 1vw;
    margin-top: 3vh;
}

.school_des , .col_des{
    margin-left: 1vw;
    margin-top: 1vh;
    color:var(--primary-color);
}


/* ================================Skills============================ */

.skill_heading{
    margin-top: 15vh;
    margin-left: 15vw;
}

.flex1{
    display: flex;
    flex-wrap: wrap;
}

.flex2 ,.flex3{
    display: flex;
    flex-direction: column;
}

meter ,label{
    margin-top: 3vh;
    margin-left: 15vw;
    color: #555;

}

meter{
   
    width: 17vw;
}

.volume::-webkit-meter-bar {
    background: gray;}

    .volume::-webkit-meter-optimum-value,
    .volume::-webkit-meter-suboptimum-value,
    .volume::-webkit-meter-even-less-good-value {
      background: rgb(0, 0, 0);}


/* ================================PROJRCTS=============================== */

.proj_heading{
    margin-top: 15vh;
    margin-left: 15vw;
}

.proj_cont{
    margin-left: 15vw;
    margin-top: 10vh;
    display: grid;
    grid-auto-rows: 22%;
    grid-template-columns: 23% 23% 23%;
    gap: 60px;
}

.card {
    position: relative;
    /* top: 50%; */
    /* left: 50%; */
    width: 300px;
    height: 300px;
    /* margin: -150px; */
    float: left;
    perspective: 500px;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card:hover .content {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front,
  .back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(6, 5, 5, 0.927);
    line-height: 25px;
    color: #fdfeff;
    /* text-align: center; */
    font-size: 1.4vw;
    border-radius: 5px;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .back {
    background: #555;
    color: #ffffff;
    transform: rotateY( 180deg );
  }


/* =======================================footer======================================== */

.skill_heading{
    margin-left: 15vw;
    color: rgb(0, 0, 0);
}

footer{
    background-color: rgb(0, 0, 0);
    width: 98.5vw;
    height: fit-content;
    margin-left: -15vw;
}

.footer_heading{
    color: white;
    margin-left: 15vw;
}

.foot_container1{
    margin-top: 15vh;
    display: flex;
    margin-left: 15vw;
    line-height: 4vh;
    gap: 10vw;
   
}

.foot_container2{
    display:flex;
    flex-direction: column;
    list-style: none;
}

.foot_container2 li{
    font-size: 1.3vw;
    color: #787878;
    word-spacing: 60px;
    margin-bottom: 15px;
}

.foot_container3{
    display:flex;
   flex-direction: column;
}


.foot_container3 p{
    display:flex;
    color: #787878;
    font-size: 1.3vw;
}

.foot_container3 input ,textarea{
    display:flex;
   flex-direction: column;
   text-decoration: none;
   outline: none;
   border-radius: 10px;
   margin: 10px;
   border: 1px solid #555;
   background-color: #000;
   width: 12vw;
   height: 7vh;
   color: white;
   font-size: 1.3vw;
}

textarea{
    width: 40vw;
    height: 30vh;
    color: #555;
}

.foot_container3 button{
    display:flex;
    align-items: center;
    justify-content: center;
    color: #787878;
    font-size: 1.3vw;
    text-decoration: none;
   outline: none;
   border-radius: 20px;
   margin: 10px;
   border: 1px solid #555;
   background-color: #000;
   width: 12vw;
   height: 7vh;
   font-size: 1.3vw;
}

.foot_container3 button:hover{
background-color: #4a4a4a;
color: white;
}

@media(max-width:395px){
header{
        position:fixed;
        z-index: 10;
        display: none;
    }

    
.proj_cont{
    margin-left: 15vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}
/* ---------------home---------------------- */
.home__container{
    background-color:var(--primary-color);
    width: 160%;
    aspect-ratio: 4/1;
    display: flex;
    flex:1;
    /* flex-direction: column; */
    align-items: center;
    justify-content:start;
    column-gap: 4vw;
}

img{
    height: 30vh;
    aspect-ratio: 1/1.2;
    filter: grayscale(60%);
    margin-left: 4vw;
    margin-top: 1vh;
    transform: translateY(5vh);
    box-shadow: 1px 8px 10px rgb(81, 73, 73);
}

.info{
    margin-top: 7vh;
    font-size: 5vw;
}

.typewriter {
    font-family: 'Courier New', monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #000;
    animation: typing 4s steps(50) 0s;
    color: #fff;
     font-size:7vw;
    font-weight:550;
  }

  .typewriter1{
    font-size:5vw;
  }

  i{
    font-size: 7vw;
  }

  :root{
    width: 140%;
  }

  /* --------------hi-------------------------- */
  .intro{
    margin-top: 4vh;
    line-height: 3.5vh;
    font-size: 6vw;
 }

 .download_btn{
    margin-top: 6vh;
    background-color: rgb(51, 48, 48);
    border: none;
    /* outline: none; */
    width: 44vw;
    height: 6vh;
    border-radius: 30px;
    display: flex;
    box-shadow: 2px 2px 10px black;
    color: rgb(202, 192, 192);
 }

 .dwnld{
    font-size: 5vw;
    margin-top: 1.8vh;
    margin-left: 4px;
 }
.title , .resume ,.skill_heading,.proj_heading,.skill_heading{
    font-size: 40px;
}

body{
    width: 65%;
}
 /* ---------------resume----------------- */

.education{
    font-size: 6vw;
}

.school{
    font-size: 4vw;
}

/* ------------------skills----------------- */

meter{
    width: 81vw;
}

/* ---------------projects----------------- */


.card {
    position: relative;
    /* top: 50%; */
    /* left: 50%; */
    width: 400px;
    height: 350px;
    /* margin: -150px; */
    float: left;
    perspective: 500px;
  }

  .front,
  .back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(6, 5, 5, 0.927);
    line-height: 25px;
    color: #fdfeff;
    /* text-align: center; */
    font-size: 7vw;
    border-radius: 5px;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card i{
    font-size: 20vw;
  }

/* ------------------footer---------------- */

footer{
    background-color: #000000;
    width: 145.5vw;
    height: fit-content;
    margin-left: -15vw;
}

.foot_container2 li{
    font-size: 6.3vw;
    color: #787878;
    word-spacing: 60px;
    margin-bottom: 15px;
}
.footer_heading{
    color: white;
    margin-left: 15vw;
    margin-top: 15vh;
}


.foot_container1{
    margin-top: 15vh;
    display: flex;
    margin-left: 15vw;
    line-height: 4vh;
    gap: 10vw;
    flex-wrap: wrap;
   
}

.foot_container3 p{
    display:flex;
    color: #787878;
    font-size: 6.3vw;
}

.foot_container3 input ,textarea{
    display:flex;
   flex-direction: column;
   text-decoration: none;
   outline: none;
   border-radius: 10px;
   margin: 10px;
   border: 1px solid #555;
   background-color: #000;
   width: 93vw;
   height: 7vh;
   color: white;
   font-size: 6.3vw;
}

textarea{
    width: 70vw;
    height: 50vh;
    color: #555;
}

.foot_container3 button{
    display:flex;
    align-items: center;
    justify-content: center;
    color: #fffdfd;
    font-size: 5.3vw;
    text-decoration: none;
   outline: none;
   border-radius: 20px;
   margin: 10px;
   border: 1px solid #555;
   background-color: #c4b5b5;
   width: 52vw;
   height: 3vh;
}

}